<h1>Welcome to the Fantastic Application</h1>

<a href="/heroes/new">Add a new hero</a><br>
<a href="/heroes">View all current squad</a><br>

<a href="/teams">View Team List</a><br>
<a href="/teams/new">Add a New Team</a><br>
